 <!-- <% result["Search"].forEach(function(movie){ %>
     <h1><%= movie["Title"] %></h1>
     <h3><%= movie["Year"] %></h3>
     <p><%= movie["Rated"] %></p>
     <img src="<%= movie['Poster'] %>" alt="">
<% }) %> -->

<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1>Search Movies</h1>
           <form method="GET" action="/result">
               <div class="form-group">
                 <label for="searchMovie">Enter Movie Name:</label>
                 <input type="text"
                   class="form-control" name="search" id="searchMovie" aria-describedby="helpId" placeholder="IronMan">
               </div>
               <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
               </div>
           </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <% result["Search"].forEach(function(movie){ %>
            <div class="col-md-4">
                <div class="container m-5">
                    <h6><%= movie["Title"] %></h6>
                    <h5><%= movie["Year"] %></h5>
                    <img class="img-thumbnail img-fluid" src="<%= movie['Poster'] %>" alt="">
                </div>   
                <div class="container m-5">
                        <button type="button" class="btn btn-primary btn-block">More</button>
                </div>
            </div>
        <% }) %>
    </div>
</div>











<% include partials/footer %>